<table id="table2" class="table table-bordered">
  <thead>
  <tr style="background-color:#C5C5C5;">
    <th>ID</th>
    <th>Country</th>
    <th>State</th>
    <th>City</th>
    <th>Country Code</th>
    <th>IP Address</th>
    <th>Language</th>
    <th>Number</th>
    <th>Postal Code</th>
    <th>Shirt Size</th>
    <th>Color</th>
    <th>Time Zone</th>
    <th>Boolean</th>
    <th>Date</th>
    <th>Gender</th>
    <th>Name</th>
    <th>Race</th>
    <th>Currency</th>
    <th>Currency Code</th>
    <th>Title</th>
  </tr>
  <tr style="background-color:#C5C5C5;">
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
    <th>Heading_2</th>
  </tr>
  </thead>
  <tbody>

  <tr ng-repeat="data in tableData track by $index">
    <td style="background-color:#EAE8AF;">{{data.id}}</td>
    <td style="background-color:#EAE8AF;">{{data.Country}}</td>
    <td>{{data.State}}</td>
    <td>{{data.City}}</td>
    <td>{{data.Country_Code}}</td>
    <td>{{data.ip_address}}</td>
    <td>{{data.Language}}</td>
    <td>{{data.Number}}</td>
    <td>{{data.Postal_Code}}</td>
    <td>{{data.Color}}</td>
    <td>{{data.Shirt_Size}}</td>
    <td>{{data.Time_Zone}}</td>
    <td>{{data.Boolean}}</td>
    <td>{{data.Date}}</td>
    <td>{{data.Gender}}</td>
    <td>{{data.Name}}</td>
    <td>{{data.Race}}</td>
    <td>{{data.Currency}}</td>
    <td>{{data.Currency_Code}}</td>
    <td>{{data.Title}}</td>
  </tr>
  </tbody>
</table>
